<!-- app_name/templates/form_template.html -->
<!DOCTYPE html>
<html>
<head>
    <title>imzML Analyzer for MSI</title>
</head>
<body>
  <h1>imzML Analyzer for MSI</h1>
  <h2>Upload .imzML and .ibd Input Files for Analysis</h2>
  <input type="file" name="file_upload" id="file_upload">
  <input type="file" name="file_upload" id="file_upload">
  <h2>Upload list of target masses to search for as Excel file</h2>
  <input type="file" name="file_upload" id="file_upload">
  <br><br>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Analyze!</button>
    </form>
</body>
</html>

